html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: #bee5e1;
}

.navbar {
    background:#58f6e3;
}

.nav-link,
.navbar-brand {
    color: #000000;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: #ffffff;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('images/image.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #58f6e3;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border:1px solid #036f63;
    background:#58f6e3;
    border-radius: 5px;
    color:#000000;
}

.description button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#00c9b1;
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.features .form-control,
.features input {
    border-radius: 15px;
}

.features .btn {
    background-color: #58f6e3;
    border: 1px solid #58f6e3;
    color: #050505;
    margin-top: 20px;
}

.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
    color: #ffffff;
}
